@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link href="~/netflix/css/dropdownIcon.css" rel="stylesheet" />



<div class="pinning-header-container" style="top: 0px; position: relative; background: transparent; ">
    @if (SignInManager.IsSignedIn(User))
    {


        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="dropdown-content iconhover">
            <ul class="avatar-wrapper">

                <li class="avatar-wrapper">
                    <img class="profile-icon" src="https://occ-0-867-41.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABbU3UHUlkChqMS0UORybrasISolcRmk12xz3v84eycdFXFb0OpRQn-eS1DPXHPfnedUm2GsZylJOXOpNbDjSDMw.png?r=a41" alt="">
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Movie" asp-action="MyList">My List</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>
            </ul>
        </form>

    }
    else
    {

        // we dont need it
        // Movie/Index allready is not Authorized
       
    }
</div>
